.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align content to the left */
  text-align: left;
  padding-left: 2rem; /* Optional left spacing */
  padding-right: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 100%;
  background-color: #fdfdfd;
}

.about-text h1 {
  margin: 0 0 1rem 0;
  font-size: 90px;
}

.about-text h2 {
  max-width: 800px;
  line-height: 1.6;
  font-weight: normal;
  color: #444;
}
