.project-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 100%;
  padding-right: 4rem;
  background-color: #fdfdfd;
}

.project-text h1 {
  margin: 0 0 1rem 0;
  font-size: 90px;
  max-width: 800px;
}

.project-text h2 {
  max-width: 800px;
  line-height: 1.6;
  font-weight: normal;
  color: #444;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.show-more-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

@media (max-width: 1300px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project-text {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .project-text h1 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .project-text {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .project-text h1 {
    font-size: 40px;
  }
}
