.project-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--gray-400);
  border-radius: 1.5rem;
  box-shadow: -34px 34px 69px #d9d9d9, 34px -34px 69px #ffffff;
  overflow: hidden;
  width: 100%;
  height: 450px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 0.7rem;
  transform-style: preserve-3d;
  will-change: transform;
}

.project-card:hover {
  box-shadow: -40px 40px 80px #d9d9d9, 40px -40px 80px #ffffff;
}

.project-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.skill-box {
  margin-left: 5px;
  margin-bottom: 30px;
  background-color: black;
  border-color: none;
  border-radius: 9px;
  padding: 10px 15px; /* Adds space inside */
  height: 12px;
  display: inline-block;
  flex: 0 1 auto;
  min-width: 20px; /* Smallest width allowed */
  max-width: 300px; /* Prevents it from getting too wide */

  color: white;
  font-size: 12px;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

.skill-box:hover {
  transform: scale(1.05); /* Slight pop-up effect */
  font-size: 14px;
}

.project-content {
  h3 {
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
    color: var(--gray-900);
  }

  p {
    font-size: 0.85rem;
    color: var(--gray-700);
    overflow-y: auto;
    max-height: 120px;
  }
}

@media (max-width: 768px) {
  .project-card {
    height: 400px;
  }

  .project-content h3 {
    font-size: 1.5rem;
  }

  .project-content p {
    font-size: 0.8rem;
  }
}
