.social-box {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  width: 170px;
  height: 40px;
  padding: 0 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
  z-index: 1000;
}

.social-box:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateX(-50%) scale(1.05);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.social-links svg {
  width: 20px;
  height: 20px;
  fill: #a600ff;
  transition: transform 0.2s ease;
}

.social-links svg:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .social-box {
    width: 90%;
    padding: 0 1rem;
  }
}
