@import 'tailwindcss';

html,
body {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #ffffff;
    color: #000000;
  }
}
